In [7]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import datetime as dt

In [8]:

cnx = sqlite3.connect('C:\\Users\\janet\\PycharmProjects\\fitbit\\data2.db')
steps = pd.read_sql_query("SELECT * FROM steps ", cnx)

steps['datetime'] = steps['date'] + ' ' + steps['time']
steps = steps.drop(['date', 'time'], axis=1)
steps.datetime = pd.to_datetime(steps['datetime'])
steps['month'] = steps['datetime'].apply(lambda time: time.month)
steps['year'] = steps['datetime'].apply(lambda time: time.year)
steps['day'] = steps['datetime'].apply(lambda time: time.dayofweek)
steps['hour'] = steps['datetime'].apply(lambda time: time.hour)
steps

        steps            datetime  month  year  day  hour
0           0 2019-10-08 00:00:00     10  2019    1     0
1           0 2019-10-08 00:01:00     10  2019    1     0
2           0 2019-10-08 00:02:00     10  2019    1     0
3           0 2019-10-08 00:03:00     10  2019    1     0
4           0 2019-10-08 00:04:00     10  2019    1     0
...       ...                 ...    ...   ...  ...   ...
604795      0 2020-11-30 23:55:00     11  2020    0    23
604796      0 2020-11-30 23:56:00     11  2020    0    23
604797      0 2020-11-30 23:57:00     11  2020    0    23
604798      0 2020-11-30 23:58:00     11  2020    0    23
604799      0 2020-11-30 23:59:00     11  2020    0    23

[604800 rows x 6 columns]

So far from 08.10.2019 until 30.11.2020

In [10]:
print(f" I have made a total of {steps.steps.sum()} steps")

 I have made a total of 4353625 steps

if 1 step is about 0.64 m, then I have walked **2,786.320 km** which 
is a little bit more than the distance ***from Heidelberg to Moscow***

In [1]:
import ipyleaflet
from ipyleaflet import Map, basemaps, Marker, AntPath

basic_map = ipyleaflet.Map(basemap=basemaps.OpenStreetMap.Mapnik, center = (50.6259, 35.9333333), zoom = 3.9)

Heidelberg = (49.4076, 8.6907)
Moscow = (55.75, 37.6155)
markerH = Marker(location = Heidelberg, title = "Heidelberg", draggable = False)
markerM =Marker(location = Moscow, title = "Moscow", draggable = False)

basic_map.add_layer(markerH)
basic_map.add_layer(markerM)

ant_path = AntPath(
    locations=[[49.407, 8.690], [49.4892, 8.467], [49.872, 8.651], [50.10665, 8.662], 
               [51.340, 12.374], [52.5170, 13.388], [52.408, 16.93],[51.768, 19.456],
               [52.232, 21.006], [53.132, 23.159], [53.405, 23.499], [53.702, 25.072], 
               [53.818, 27.55], [54.78141, 32.04613], [55.75, 37.6155]], dash_array=[1, 10], delay=1000, color='#324664', pulse_color='#3f6fba')
basic_map.add_layer(ant_path)


basic_map

Map(center=[50.6259, 35.9333333], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', …